
#page-title {
    color: rgb(136, 145, 248);
    font-size: 90px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.32);
    margin-right: 100px;
}

#page-desc {
    padding: 20px 140px;
}

#page-apps {
    padding: 30px 140px;
    line-height: 32px;
    margin-bottom: 200px;
}

#page-apps .title {
    font-size: 20px;
    padding: 40px 0;
}